@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Style  */
.sp {
  @apply py-40;
}

/* TypoGraphy  */

h1 {
  @apply text-8xl font-medium;
}
h2 {
  @apply text-5xl font-medium;
}
h3 {
  @apply text-2xl;
}

p {
  @apply text-lg;
}

small {
  @apply text-xs font-semibold  tracking-widest;
}

/* swiper style  */
.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 145, 181) !important;
  fill: rgb(0, 145, 181) !important;
  stroke: rgb(0, 145, 181) !important;
}

.swiper-pagination-bullet {
  background-color: rgb(0, 145, 181) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(0, 145, 181) !important;
}
/* swiper style  */
